$lightbg: #eef5f9;
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
$border-radius: 8px;
$body-font-family: "Montserrat";
$font-family: "Montserrat";
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;
